body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.movies-container {
    max-height: 80vh; 
    overflow-y: auto; 
}


.favorites-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
}


.movieContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%; 
    background-color: #f9f9f9;
    box-sizing: border-box;
    margin-bottom: 20px; 
}

#favoritesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.movieContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    width: calc(30% - 100px); 
    background-color:transparent;
    box-sizing: border-box;
}

.movieContainer h3 {
    margin-top: 0;
    color: white;
}

.movieContainer p {
    margin-bottom: 5px;
    color: white;
}


.movieContainer .movie-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
}
