body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #000;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    opacity: 0.3;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.movies-container {
    max-height: 80vh; 
    overflow-y: auto; 
}

.favorites-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
}

.movieContainer {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(0);
    animation: fadeIn 0.5s forwards;
    cursor: pointer;
    transition: transform 0.3s;
}

.movieContainer:hover {
    transform: scale(1.05);
}

.movieContainer h3 {
    margin-top: 0;
    color: white;
}

.movieContainer p {
    margin-bottom: 5px;
    color: white;
}

.movieContainer .movie-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
    border-radius: 5px;
}

.go-back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.go-back-button:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.05);
}

@keyframes fadeIn {
    to {
        transform: scale(1);
    }
}

